:root{
    --btn-back: .4em;
}

.contact{
    width: 70%;
    margin-inline: auto;
    min-height: 100vh;
    gap: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_left{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.contact_left h1{
    color: var(--Header-Color);
    font-size: 7.5em;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 30%;
    margin-bottom: 60px;
    width:100%;
}

.contact .comment{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: auto;
    align-items: center;
    justify-content: right;
    margin-right: 20%;
}

.contact .comment h3{
    color: var(--Link-Color);
    width: 50%;
    letter-spacing: 2px;
}




.contact_right p{   
    width: 100%;
    font-size: 2em;
}

.contact_right{   
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}


.contact_right p input{
    color: #A7A7A7;
    background: transparent;
    border: none;
    border-bottom: 1px solid #A7A7A7;
    outline: none;
    height: 35px;
    width: 350px;
    font-size: 1em;
}

.contact_right p input::placeholder{
    color: #A7A7A7;
    font-size: .5em;
}

.comment_arrow{
    width: 100px;
    margin-left: -40px;
}

.comment_arrow img{
    transition: transform 300ms ease-in-out;
}

.comment_arrow:hover img{
    transform: rotate(10deg) translateX(-50%) translateY(20%);
}

.btn{
    align-self:center;
    padding: .8em 2.4em .8em 2.4em;
    /* border: 1px solid white; */
    outline: 1px solid var(--Header-Color);
    border-radius: .5em;
    position: relative;
    transition: outline-width 200ms linear;
    font-size: 1.2em;
    letter-spacing: 1ch;
    font-weight: bold;
    color: var(--Header-Color);
}

.btn::after{
    position: absolute;
    content: '';
    inset: calc(-1*var(--btn-back)) calc(1*var(--btn-back)) calc(1*var(--btn-back)) calc(-1*var(--btn-back));
    background-color: var(--Accent-Color);
    border-radius: .5em;
    z-index: -1;
    
    transition: inset 200ms linear;
}

.btn:hover::after{
    inset: 0;
}

.btn:hover{
    outline-width: 4px;
}


@media (max-width: var(--Responsive-width)) {
    .contact{
        flex-direction: column;
        gap: 0;
        margin-bottom: 5em;
    }
    .contact h1{
        font-size: 6em;
        text-align: center;
    }
    .contact .comment{
        display: none;
    }
    .contact_right p{
        font-size: 1.8em;
    }
    .contact_right p input{
        width: 9em;
    }
    .contact_right{
        gap: 2em;
    }
    .btn{
        padding: .4em 1.2em .4em 1.2em;
    }
}