@import "./variables.css";

.header {
    display: grid;
    grid-template-columns: auto 6em;
    justify-content: left;
    margin-top: 30px;

  

    background-color: var(--Accent-Color);

    border-radius: 0 100vmax 100vmax 0;

    position: fixed;
    top: 0;
    left: 0;

    transform:translate3d(calc(-100% + 6em),0,0);
    /* transform:translate3d(0,0,0); */
    transition: transform 300ms ease-in-out, background-color 100ms linear;
    gap: 2em;

    z-index: 2;
  
}

.slide{
    transform:translate3d(0,0,0);
}

.header img {
    cursor: pointer;
    height: 3em;
    display: block;
    filter: var(--Filter-Secondary);
    margin-right: 1.2em;
    margin-left: auto;
} 
.header ul{
    list-style-type: none;
    display: flex;
    margin-left: 10px;
    gap: .5em;
}

.header li img{
    width: 1.5em;
}


.link_div{
    height: 4em;
    width: 6em;
    border-radius: 0 100vmax 100vmax 0;
    display: flex;
    align-items: center;
    transition: background-color 100ms linear;
}

.link_div:hover{
    background-color: #ccaa30;
}


.content_div{
    height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
}

.changeColor{
    background-color: #ccaa30;
}