@import "./variables.css";

.hobbies{
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;  
    min-height: 100vh;
}

.hobbies_ul{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.hobbies_card:nth-child(2n){
    margin-left: 80%;
    border-width: 3px 3px 3px 0px;
}


.hobbies_card{
    margin-left: 20%;
    width: 35em;
    height: 25em;
    border-color: var(--Secondary-Color);
    border-width: 3px 0px 3px 3px;
    border-style: solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
}

.hobbies_card::after{
    position: absolute;
    content: '';
    inset: -3px 60px -3px -15px;
    border-radius: 2em 0px 0px 2em;
    border-width: 3px 0px 3px 3px;
    border-color: var(--Secondary-Color);
    border-style: solid;
}

.hobbies_card:nth-child(2n)::after{
    inset: -3px -15px -3px 60px;
    border-radius: 0em 2em 2em 0em;
    border-width: 3px 3px 3px 0px;
}

.card_title{
    font-size: 2.5em;
    padding: .5em;
    color: var(--Accent-Color);
}

.card_icon{
    width: 16em;
    height: 16em;
    position: absolute;
    right: -8em;
    top: 4em;
}

.card_description{
    font-size: 1.2em;
    padding: .5em;
    width: 70%;
}

.hobbies_card:nth-child(2n) .card_description{
    margin-left: auto;
}

.hobbies_card:nth-child(2n) .card_title{
    width: 70%;
    margin-left: auto;
}

.hobbies_card:nth-child(2n) .card_icon{
    left: -8em;
}

.hobbies_h1{
    padding: 1em;
    font-size: 5em;
    text-align: center;
    align-self: center;
}

@media (max-width: 1000px) {
    .hobbies_card{
        width: 90%;
        height: auto;
        margin-inline: auto;
   }

   .hobbies_ul{
    width: 90%;
    margin-inline: auto;
   }

   .card_title{
    font-size: 1.5em;
   }
   .card_description{
    font-size: .9em;
   }
   .card_icon{
    width: 8em;
    height: 8em;
    right: -4em;
    top: 30%;
   }
   .hobbies_card:nth-child(2n) .card_icon{
    left: -4em;
    }

    .hobbies_card:nth-child(2n){
        margin-left: 0;
        border-width: 3px 3px 3px 0px;
    }
}