.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

.main img{
  z-index: 0;
  height: 33vw;
  margin-left: calc(var(--Nav-Bar-Widht/2));
  cursor: pointer;
}

.main .text{
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
}
.main .text h1{
  color: var(--Header-Color);
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 5px;
}

.main .text h4{
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}