@import "./variables.css";

.socials ul{
    display: flex;
    flex-direction: row;
    gap: calc(var(--img-size));
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.socials{
    width: 70%;
    margin-inline: auto;
    height: 6em;
    align-items: center;
    display: flex;
}



.socials img{
    width: var(--img-size);
    height: var(--img-size);
    filter: var(--Filter-Accent);
    display: block;
}

@media (min-width: 1000px) {
    .socials{
        display: none;
    }
}